<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>demo03</title>
    <script src="echarts/echarts.js"></script>
</head>
<body>
<div id="main" style="width: 1350px;height: 600px;"></div>
<script th:inline="javascript">
    var myChart = echarts.init(document.getElementById('main'));
//    app.title = '北上广青总量 - 条形图';

    option = {
        title: {
            text: '招聘人数总量',
            subtext: '数据来自网络'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['Java开发工程师', '硬件工程师']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: ['上海','北京','广州','青岛','四地总量']
        },
        series: [
            {
                name: 'Java开发工程师',
                type: 'bar',
                data: [ [[${nums[0]}]], [[${nums[2]}]], [[${nums[4]}]], [[${nums[6]}]] ,[[${javanum}]]]
            },
            {
                name: '硬件工程师',
                type: 'bar',
                data: [ [[${nums[1]}]], [[${nums[3]}]], [[${nums[5]}]], [[${nums[7]}]] ,[[${hardwarenum}]]]
            }
        ]
    };

    myChart.setOption(option);
</script>
</body>
</html>