<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>China</title>
    <script src="echarts/echarts.js"></script>
    <script src="map/js/china.js"></script>
</head>
<body>
<div id="main" style="width: 1350px;height: 650px;"></div>
<script th:inline="javascript">
    var myChart = echarts.init(document.getElementById('main'));
    option = {
        title : {
            text: '北上广青Java开发工程师趋向',
            subtext: '北上广青'
        },
        tooltip : {
            trigger: 'axis' //当trigger为’item’时只会显示该点的数据，为’axis’时显示该列下所有坐标轴所对应的数据。
        },
        legend: {
            data:['北京','上海','广州','青岛']
        },
        toolbox: {
            show : true,
            feature : {
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['4月13日','4月14日','4月15日','4月16日','4月17日']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'北京',
                type:'line',
                data:[ [[${nums[9]}]], [[${nums[10]}]], [[${nums[11]}]], [[${nums[12]}]], [[${nums[13]}]]]
//                data:[1,2,33,5,6]
            },
            {
                name:'上海',
                type:'line',
                data:[10, [[${nums[0]}]], [[${nums[1]}]], [[${nums[2]}]], [[${nums[3]}]]]
            },
            {
                name:'广州',
                type:'line',
                data:[ [[${nums[19]}]], [[${nums[20]}]], [[${nums[21]}]], [[${nums[22]}]], [[${nums[23]}]]]
            },
            {
                name:'青岛',
                type:'line',
                data:[ [[${nums[28]}]], [[${nums[29]}]], [[${nums[30]}]], 0, [[${nums[31]}]]]
            }
        ]
    };
    myChart.setOption(option);
</script>
<div id="main2" style="width: 1350px;height: 600px;"></div>
<script th:inline="javascript">
    var myChart = echarts.init(document.getElementById('main2'));
    option = {
        title : {
            text: '北上广青Java开发工程师趋向',
            subtext: '北上广青'
        },
        tooltip : {
            trigger: 'axis' //当trigger为’item’时只会显示该点的数据，为’axis’时显示该列下所有坐标轴所对应的数据。
        },
        legend: {
            data:['北京','上海','广州','青岛']
        },
        toolbox: {
            show : true,
            feature : {
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['4月13日','4月14日','4月15日','4月16日','4月17日']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'北京',
                type:'line',
                data:[ [[${nums[14]}]], [[${nums[15]}]], [[${nums[16]}]], [[${nums[17]}]], [[${nums[18]}]]]
//                data:[1,2,33,5,6]
            },
            {
                name:'上海',
                type:'line',
                data:[ [[${nums[5]}]], [[${nums[6]}]], [[${nums[7]}]], [[${nums[8]}]], 0]
            },
            {
                name:'广州',
                type:'line',
                data:[ [[${nums[24]}]], [[${nums[25]}]], [[${nums[26]}]], [[${nums[27]}]], 0]
            },
            {
                name:'青岛',
                type:'line',
                data:[ [[${nums[32]}]], [[${nums[33]}]], 0, 0, 0]
            }
        ]
    };
    myChart.setOption(option);
</script>
</body>
</html>