<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <script src="jquery/jquery-1.9.1.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
</head>
<body>
<br/><br/><br/>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-6 column">
            <a href="/field_all" type="button" class="btn btn-default btn-block">中国各行业占比分布(大方向)</a>
            <a href="/china_java" type="button" class="btn btn-default btn-block">全国主要城市Java开发工程师需求人数</a>
            <a href="/china_all" type="button" class="btn btn-default btn-block">全国主要城市计算机行业所有职业需求人数</a>
            <a href="/cn_field_all114" type="button" class="btn btn-default btn-block">中国各行业占比分布(具体行业)</a>
            <a href="/cn_day_field_sum" type="button" class="btn btn-default btn-block">每天-职业总量折线图</a>
            <a href="/cn_day_field_seven" type="button" class="btn btn-default btn-block">每天-7大职业分类折线图</a>
            <a href="/cn_day_area" type="button" class="btn btn-default btn-block">每天-8个城市职业总量折线图</a>
            <a href="/usa_field_all" type="button" class="btn btn-default btn-block">美国各行业占比分布饼图</a>
            <a href="/usa_day_all" type="button" class="btn btn-default btn-block">每天-美国职业总量折线图</a>
            <a href="/usa_day_15?field=Python" type="button" class="btn btn-default btn-block">每天-美国15个职业折线图</a>

        </div>
        <div class="col-md-3 column">
        </div>
    </div>
</div>
</body>
</html>