<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <script src="jquery/jquery-1.9.1.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
</head>
<body>
<br/><br/><br/>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-6 column">
            <!--<a href="/compare" type="button" class="btn btn-default btn-block">Java开发工程师和硬件工程师在北上广青四地的每日招聘数量</a>
            <a href="/all" type="button" class="btn btn-default btn-block">Java开发工程师和硬件工程师在北上广青四地的五日招聘总量</a>
            <a href="/china" type="button" class="btn btn-default btn-block">Java开发工程师和硬件工程师一日内在全国各城市招聘数量</a>-->
            <a href="/field_all" type="button" class="btn btn-default btn-block">中国各行业占比分布</a>
            <a href="/china_java" type="button" class="btn btn-default btn-block">全国主要城市Java开发工程师需求人数</a>

        </div>
        <div class="col-md-3 column">
        </div>
    </div>
</div>
</body>
</html>