<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>cn_day_field_sum</title>
    <script th:src="@{echarts/echarts.js}" rel="stylesheet"></script>
    <script th:src="@{map/js/china.js}"></script>
</head>
<body>

<div id="main" style="width: 1350px;height: 600px;"></div>
<script type="text/javascript" th:inline="javascript">

    var myChart = echarts.init(document.getElementById('main'));

    option = {
        title: {
            text: '计算机行业招聘总量变化趋势',
            left: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c}'
        },
        legend: {
            left: 'left',
            data: ['计算机行业招聘总量']
        },
        xAxis: {
            type: 'category',
            name: 'x',
            splitLine: {show: false},
//            data: ['一', '二', '三', '四', '五', '六', '七', '八', '九']
            data: [[${relList}]]
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        yAxis: {
            type: 'log',
            name: 'y'
        },
        series: [
            {
                name: '计算机行业招聘总量',
                type: 'line',
//                data: [1, 3, 9, 27, 81, 247, 741, 2223, 0.01]
                data: [[${sumList}]]
            }
        ]
    };


    myChart.setOption(option);

</script>
</body>
</html>